// $primary: #FFAA34;
$green-alex: #61bd5f;

// file: bootstrap-italia-custom.scss

// modifica completa del template: è possibile ricompilare la libreria modificando alcune variabili SCSS

// Per l'override del colore $primary della palette in formato HSB:

// Per ottenere il colore #FF3333 (https://rgb.to/ff3333)
$primary-h: 0;
$primary-s: 80;
$primary-b: 100;
// Nota: per convertire il codice esadecimale di un colore formato HSB
// è possibile utilizzare ad esempio il sito https://rgb.to/.

// Per l'override della famiglia di caratteri
$font-family-serif:      "Custom Font", Georgia, serif;
$font-family-sans-serif: "Custom Font", Arial, Helvetica, sans-serif;
$font-family-monospace:  "Custom Font", "Courier New", Courier, monospace;